body {
	background-color:black;
}

.hide {
  display: none;
}
.button{
	font-style:arial;
	font-size:300px;
	font-color:white;
}
a:visited{
	color:white;
}

.yellow { color:#fdfd96; }
.blue { color:#a8ffff; }
.red { color: #facade; }

.content {
  font-size: 100px;
  margin: 20px;
}