
*{color:#ff0080;}
.word-wrapper{
	display:inline-block;
	margin-right:60px;

}

img{
	position:absolute;
	float:left;
	display:block;
}

.ima{
	margin:5px auto 0 500px;
	position:absolute;
}
.width{
	width:1px;
}
.width2{
	width:2px;
}
.width3{
	width:4px;
}
.width4{
	width:6px;
}
.height{
	height:1px;
}
.height2{
height:2px;
}
.height3{
	height:4px;
}
.height4{
	height:6px;
}


.small{
	transform:scale(.4);
}

.letter-wrapper {
	display:inline-block;
	margin:0 15px 60px 15px;
}
.letter-wrapper0 {
	display:inline-block;
	margin:0 0px 60px 20px;
}

.letter-wrapper1 {
	display:inline-block;
	margin:0 0px 60px 0px;
}

.letter-wrapper2 {
	display:inline-block;
	margin:0px 0px 60px -20px;
}

.letter-wrapper3 {
	display:inline-block;
	margin:0 0px 60px 100px;
}

.letter-wrapper4 {
	display:inline-block;
	margin:0 0px 60px -100px;
}
.letter-wrapper5 {
	display:inline-block;
	margin:0 0px 60px -150px;
}
.letter-wrapper6 {
	display:inline-block;
	margin:0 0px 60px -170px;
}
.letter-wrapper7 {
	display:inline-block;
	margin:0 0px 60px 40px;
}
.letter-wrapper8 {
	display:inline-block;
	margin:0 0px 60px -80px;
}
.letter-wrapper9 {
	display:inline-block;
	margin:0 0px 60px 250px;
}


.letter {
	width:150px;
	height:200px;
	position:relative;
}
.bar{
	position:absolute;
}
.vertical{
	
	height:200px;
}
.verticalshort{
	
	height:100px;
}
.horizontal{
	width:50px;
	
}
.tiltedleft{
	
	height:200px;
    -moz-transform: skew(-22.5deg);
 	-webkit-transform: skew(-22.5deg);
  	transform: skew(-22.5deg);
}

.tiltedright{
	
	height:200px;
    -moz-transform: skew(22.5deg);
 	-webkit-transform: skew(22.5deg);
  	transform: skew(22.5deg);
}
.tiltedleftshort{
	
	height:100px;
    -moz-transform: skew(-22.5deg);
 	-webkit-transform: skew(-22.5deg);
  	transform: skew(-22.5deg);
}

.tiltedrightshort{
	
	height:100px;
    -moz-transform: skew(22.5deg);
 	-webkit-transform: skew(22.5deg);
  	transform: skew(22.5deg);
}
.tiltedleftshort1{
	
	height:50px;
    -moz-transform: skew(-22.5deg);
 	-webkit-transform: skew(-22.5deg);
  	transform: skew(-22.5deg);
}

.tiltedrightshort1{
	
	height:50px;
    -moz-transform: skew(22.5deg);
 	-webkit-transform: skew(22.5deg);
  	transform: skew(22.5deg);
}
.horizontalbig{
	width:105px;
	
}

.black{background:black}
.blue{background:#00aced;}
.red{background:#f00;}
.yellow{background:#ff0}

.a-left{
	
	top:0px;
	left:0px;

	
}

.a-right {
	
	top:0px;
	right:0px;
	
}
.a-right1 {
	
	top:0px;
	right:-42px;
	
}
.a-right2 {
	
	top:0px;
	right:20px;
	
}
.a-right3 {
	
	top:0px;
	right:30px;
	
}
.a-right4 {
	
	top:0px;
	right:-20px;
	
}
.a-right5 {
	
	top:0px;
	right:40px;
	
}
.a-top{
	
	top:0px;
	left:0px;
}
.a-center{
	
	right:20;
	left:150;
}
.a-bottom{
	
	top:200px;
	left:0px;
}

.a-bottomleft{
	
	top:200px;
	left:65px;
}
.a-mid {
	
	top:110px;
	left:0px;
}
.a-mid1 {
	
	top:50px;
	right:30px;
}
.a-mid2 {
	
	top:100px;
	right:30px;
}
.a-left {
	
	top:0px;
	left:107px;
	
}
.a-midright {
	
	top:115px;
	left:100px;
}
.a-midright1 {
	
	top:100px;
	left:130px;
}
.a-midright2 {
	
	top:100px;
	left:170px;
}
.a-bottom1 {
	
	top:150px;
	right:30px;
}
.a-bottom2 {
	
	top:100px;
	right:0px;
}
.a-bottom3 {
	
	top:196px;
	right:10px;
}
.a-bottom4 {
	
	top:150px;
	right:50px;
}

.a-bottom5 {
	
	top:150px;
	right:-20px;
}
/* Position
absolute:;
relative:;

fixed:;







*/